*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	}

.section
	{
	padding:40px 0;
	margin-bottom:40px;
	}
	
.container
	{
	width:100%;
	margin:auto;
	}

.banner-col
	{
	display:flex;
	}
	
.banner-row
	{
	background-color:#106eea;
	padding:10px 0;
	}
	
.img
	{
	padding-left:120px;
	color:#ffffff;
	}
	
p
	{
	color:#ffffff;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	}

.img-1
	{
	padding-left:30px;
	color:#ffffff;
	}
	
.img-2
	{
	color:#ffffff;
	padding-left:49%;
	}
	
i
	{
	padding-right:15px;
	}
	
.banner-sec1
	{
    width:100%;
	padding-top:30px;
	font-size:22px;
	}
	
.

h2
	{
	margin-left:130px;
	}
	
span
	{	
	color:#106eea;
	}
	
.nav
	{
	background-color:#ffffff;
	color:#222222;
	padding-right:50px;
	
	padding-bottom:10px;
	padding-top:30px;
	}
	
h4
	{
	padding-right:35px;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	}

.bar
	{
	color:#106eea;
	text-decoration:underline;
	}
	
h1
	{
	font-size:45px;
	font-family: 'Roboto', sans-serif;
	padding-top:10%;
	padding-left:9%;
	}
	
.heading
	{
	color:#555555;
	padding-left:9%;
	padding-top:10px;
	font-size:20px;
	}
	
.button	
	{
	background-color:#106eea;
	display:inline-block;
	padding:10px 25px;
	margin-left:10%;
	margin-top:40px;
	border-radius:5px;
	}	
	
.button-1
	{
	display:flex;
	}
	
.img-3
	{
	color:#106eea;
	padding-top:10px;
	padding-left:20px;
	font-size:25px;
	}
	
.video
	{
	padding-top:54px;
	padding-left:20px;
	}

.image
{
	display:flex;
}

.button{
	padding-left:20px;
}
*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	}

.section
	{
	padding:40px 0;
	margin-bottom:40px;
	}
	
.container
	{
	width:98%;
	margin:auto;
	}

.banner-col
	{
	display:flex;
	}
	
.banner-row
	{
	background-color:#106eea;
	padding:10px 0;
	}
	
.img
	{
	padding-left:120px;
	color:#ffffff;
	}
	
p
	{
	color:#ffffff;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	}

.img-1
	{
	padding-left:30px;
	color:#ffffff;
	}
	
.img-2
	{
	color:#ffffff;
	padding-left:49%;
	}
	
i
	{
	padding-right:15px;
	}
	
.banner-sec1
	{
	padding-top:30px;
	
	font-size:22px;
	}
	
section.banner {
	width:100%;
	display:flex;
	justify-content:space-between;
}


h2
	{
	margin-left:75px;
	}
	
span
	{	
	color:#106eea;
	}
	
.nav
	{
	background-color:#ffffff;
	color:#222222;
	display:flex;
	padding-bottom:30px
	}
	
h4
	{
		
	padding-right:25px;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	}

.bar
	{
	color:#106eea;
	text-decoration:underline;
	}
	
h1
	{
	font-size:45px;
	font-family: 'Roboto', sans-serif;
	padding-top:10%;
	padding-left:9%;
	}
	
.heading
	{
	color:#555555;
	padding-left:9%;
	padding-top:10px;
	font-size:20px;
	}
	
.button	
	{
	background-color:#106eea;
	display:inline-block;
	padding:10px 25px;
	margin-left:9%;
	margin-top:40px;
	border-radius:5px;
	}	
	
.button-1
	{
	display:flex;
	}
	
.img-3
	{
	color:#106eea;
	padding-top:50px;
	padding-left:30px;
	font-size:35px;
	}
	
h4.video
	{
		padding-left:0px;
	padding-top:55px;
	}

	